<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @circles_contact, partial: "card", as: :circles_contact %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
