<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Circles

    <a data-toggle="collapse" href="#user_circles_new_form">
      Add circle
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.circles.each do |circle| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to circle, circle_path(circle) %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_circles_new_form">
        <%= render partial: "users/user_circles_new_form" %>
      </div>
    </div>

  </ul>
</div>
