<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Invitations

    <a data-toggle="collapse" href="#user_invitations_new_form">
      Add invitation
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.invitations.each do |invitation| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to invitation, invitation_path(invitation) %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_invitations_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
