<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Chats
  </div>

  <ul class="list-group list-group-flush">
    <% @user.chats.each do |chat| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/chats/<%= chat.id %>">
          <%= chat %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
