<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Contacts As Added

    <a data-toggle="collapse" href="#user_contacts_as_added_new_form">
      Add contact
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.contacts_as_added.each do |contact| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to contact, contact_path(contact) %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_contacts_as_added_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
