<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Invitations

    <a data-toggle="collapse" href="#chat_invitations_new_form">
      Add invitation
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @chat.invitations.each do |invitation| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to invitation, invitation_path(invitation) %>

        <%= link_to invitation, method: :delete, data: { confirm: "Do you really want to delete this invitation" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="chat_invitations_new_form">
        <%= render partial: "chats/chat_invitations_new_form" %>
      </div>
    </div>

  </ul>
</div>
