<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Contacts
  </div>

  <ul class="list-group list-group-flush">
    <% @circle.contacts.each do |contact| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/contacts/<%= contact.id %>">
          <%= contact %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
